body {
  background-image: url(./img/backGround.jpg);
  background-size: auto;
}

img {
    width: 100px;
    height: 100px;
  }

  figcaption {
    width: 100px;
    background-color: rgb(202, 168, 168);
    color: rgb(0, 0, 0);
    font-style: italic;
    font-size: 10px;
    text-align: center;
  }

  .hiddenAsset {
    visibility: hidden;
  }

  .wrapper {
    display: flex;
    height: auto;
    width: auto;
    background-color: rgb(11, 184, 89);
    position: relative;
    top: 40px;
    margin: auto;
    flex-flow: row wrap;
  }

  #scoreLine {
    font-size: 20px;
  }

#mainForm {
  position: relative; 
  top: 30px;
}


