img {
    width: 100px;
    height: 100px;
  }

  figcaption {
    width: 100px;
    background-color: rgb(202, 168, 168);
    color: rgb(0, 0, 0);
    font-style: italic;
    font-size: 10px;
    padding: 2px;
    text-align: center;
  }

  .hiddenAsset {
    visibility: hidden;
  }

  /*.container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 100px);
  }*/

  /*.wrapper {
    left: 100px;
    top: 200px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4, 50px);
    height: 220px;
    width: 220px;
    gap: 5px;
    grid-template-areas:
      "a a b b c c d d"
      "a a b b c c d d"
      "e e f f g g h h"
      "e e f f g g h h"
      "i i j j k k l l"
      "i i j j k k l l"
      "m m n n o o p p"
      "m m n n o o p p";
   align-items: start;
  }*/

  .wrapper {
    display: flex;
    height: auto;
    width: auto;
    background-color: darkgoldenrod;
    position: relative;
    margin: auto;
    flex-flow: row wrap;
  }
  
  /*.row {
    display: flex;
    flex-flow: row wrap;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }*/

  .fig1 {
    display: block;
    position: relative;
    height: auto;
    width: auto;
  }
  
  /*.fig2 {
    grid-area: b;
  }
  
  .fig3 {
    grid-area: c;
  }
  
  .fig4 {
    grid-area: d;
  }
  .fig5 {
    grid-area: e;
  }
  
  .fig6 {
    grid-area: f;
  }
  
  .fig7 {
    grid-area: g;
  }
  
  .fig8 {
    grid-area: h;
  }
  .fig9 {
    grid-area: i;
  }
  
  .fig10 {
    grid-area: j;
  }
  
  .fig11 {
    grid-area: k;
  }
  
  .fig12 {
    grid-area: l;
  }

  .fig13 {
    grid-area: m;
  }
  
  .fig14 {
    grid-area: n;
  }
  
  .fig15 {
    grid-area: o;
  }
  
  .fig16 {
    grid-area: p;
  }*/